<a href="https://colab.research.google.com/github/Rkankam24/Economic-Data-Analysis/blob/main/PythonBasics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Basic variable examples
salary = 50000  # Integer (whole number)
name = "Alice"  # String (text)
bonus_rate = 0.10  # Float (decimal)
print(f"Salary: {salary}, Name: {name}, Bonus Rate: {bonus_rate}")

Salary: 50000, Name: Alice, Bonus Rate: 0.1

In [ ]:
name = "LuhCashRidz"
monthly_income = 40000
bonus_rate = 0.3
money_after_b_rate = monthly_income * bonus_rate
b_rate_bread = monthly_income + money_after_b_rate
print(f"Name: {name}, Monthly Income: {monthly_income}, Bonus Rate: {bonus_rate}, Bonus Money: {b_rate_bread}")

Name: LuhCashRidz, Monthly Income: 40000, Bonus Rate: 0.3, Bonus Money: 52000.0

In [ ]:
GDP = [2500, 2600,2450,2700]
print(GDP[1])

2600

In [ ]:
GDP.append(3000)
print(GDP)

[2500, 2600, 2450, 2700, 3000]

In [ ]:
salaries = [500000, 600000,45000,70000,55000]
for salary in salaries:

  print( salary * 0.10)

50000.0
60000.0
4500.0
7000.0
5500.0

In [ ]:
salaries = [50000, 60000, 45000, 70000, 55000]
for Salary in salaries:
  Bonus = Salary*0.10
  print(Salary, Bonus)

50000 5000.0
60000 6000.0
45000 4500.0
70000 7000.0
55000 5500.0

In [ ]:
bonuses =  []
for Salary in salaries:
  Bonus = Salary*0.10
  bonuses.append(Bonus)
print(bonuses)

[5000.0, 6000.0, 4500.0, 7000.0, 5500.0]

In [ ]:
# Function example
def greet(name):
    return f"Hello, {name}!"
print(greet("Alice"))

Hello, Alice!

In [ ]:
print("\nExercise 1: Print Numbers 1 to 5")
for i in range(1, 6):  # range(start, stop+1)
    print(i)

Exercise 1: Print Numbers 1 to 5
1
2
3
4
5

In [ ]:
for i in range(1, 15):
  print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14

In [ ]:
salaries = [50000, 60000, 45000]
Total = 0
for sum_of_salary in salaries:
  Total = sum_of_salary + Total
  print(f"Total Salaries: {Total}")

Total Salaries: 50000
Total Salaries: 110000
Total Salaries: 155000

In [ ]:
age = 24
monthly_income = 100000
tax_rate = 0.2

tax_amount = monthly_income*tax_rate

print(tax_amount)

20000.0

In [ ]:
gdp_values = [25000, 26000,2450, 2700]
print(gdp_values[1])

26000

In [ ]:
gdp_values.append(2600)
print(gdp_values)

[25000, 26000, 2450, 2700, [2650], 2650, 2600]

In [ ]:
# Loop example
salaries = [50000, 60000, 45000, 70000, 55000]
for salary in salaries:
    print(f"Salary: {salary}")

Salary: 50000
Salary: 60000
Salary: 45000
Salary: 70000
Salary: 55000

In [ ]:
salaries = [50000, 60000, 45000, 70000, 550000]
for salary in salaries:
  bonus = salary*0.10
  print(bonus)

5000.0
6000.0
4500.0
7000.0
55000.0

In [ ]:
for i in range(1,6):
  print(i)

1
2
3
4
5

In [ ]:
age = 14
while age <= 14:
   print("you're still a young G")
  elif: age > 14
print("youre a big man now")
  else: age = 25
print("twenty 5ive")

IndentationError: unindent does not match any outer indentation level (<tokenize>, line 4)

In [ ]:
num = 5
while num > 0:
    if num < 3:
        break
    print(num)
    num -= 1

5
4
3

In [ ]:
def calculate_revenue(sales, price, tax_rate=0.10):
  revenue = sales * price * (1 + tax_rate)
  return revenue
print(calculate_revenue(10, 12.99))

142.89000000000001

In [ ]:
def calculate_revenue(sales, price, tax_rate=0.10):
    revenue = sales * price * (1 + tax_rate)
    return revenue
print(f"Total Revenue: £{calculate_revenue(10, 12.99):.2f}")

Total Revenue: £142.89

In [ ]:
total = 0
number = 1
while total <= 50:
  total += number
  number +=1
print(total)

55

In [ ]:
def calculate_inflation (old_cpi, new_cpi):
  inflation_rate = new_cpi - old_cpi/old_cpi*100
  return inflation_rate
print(calculate_inflation(100, 103))

3.0

In [ ]:
def calculate_total_revenue (sales, prices):
total = 0
total_revenue = (sales * prices)
sales [10, 15, 8]
prices[12.99, 15.50, 10.00 ]

In [ ]:
count = 10
while count >= 0:
    print(count)
    count -= 1

10
9
8
7
6
5
4
3
2
1
0

In [ ]:
# practice loops questions

# Q1
for i in range (2,21, 2):
  print(i)

2
4
6
8
10
12
14
16
18
20

In [ ]:
total = 0
num = 1
while num <= 10:
    total += num
    num += 1
print("Sum:", total)

Sum: 55

In [ ]:
#Q2
total = 0
num = 1
while num <= 10:
  total += num
  num += 1
print("SUM:", total)

SUM: 55